@using EN.SuperRestaurant.MVC.Models.Meals
@model MealDetailsViewModel

@{
    ViewData["Title"] = "Meal Details";
}

<div class="container">

    <h1>
        Meal Details
        <span class="text-primary">@Model.Name</span>
    </h1>

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>

        <div class="col-lg-6">
            <img src="~/imgs/meals/@Model.ImageName" alt="@Model.Name" class="img-fluid" />
        </div>
    </div>



    <h4 class="mt-5 mb-4">Meal Ingredients</h4>

    <table class="table table-striped table-hover data-tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model.Ingredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ingredient.Name)
                    </td>
                    <td class="text-start">
                        <span>$</span>@Html.DisplayFor(modelItem => ingredient.Price)
                    </td>
                    <td>
                        <a class="text-decoration-none" asp-controller="Ingredients" asp-action="Details" asp-route-id="@ingredient.Id" title="Details">
                            <i class="fa-solid fa-circle-info text-info"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
    </div>

</div>