@using EN.SuperRestaurant.MVC.Models.Meals
@model IEnumerable<MealViewModel>

@{
    ViewData["Title"] = "Meals";
}

<div class="container">

    <h1>Meals</h1>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-primary">Create a New Meal</a>
    </p>
    <hr />

    <div class="row g-4">

        @foreach (var meal in Model)
        {

            <div class="col-lg-4 col-md-6">

                <div class="meal">

                    <div class="card">
                        <img src="~/imgs/meals/@meal.ImageName" class="card-img-top" alt="@meal.Name">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-decoration-none title" asp-action="Details" asp-route-id="@meal.Id" title="Details">
                                    @meal.Name
                                </a>
                            </h5>
                            <p class="card-text">@meal.Description</p>
                        </div>
                        <div class="card-footer text-end">

                            <a class="text-decoration-none" asp-action="Edit" asp-route-id="@meal.Id" title="Edit">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <a class="text-decoration-none ms-2" asp-action="Delete" asp-route-id="@meal.Id" title="Delete"
                               data-bs-toggle="modal" data-bs-target="#delete_@meal.Id">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>

                            <!-- Delete Modal -->
                            <div class="modal fade" id="delete_@meal.Id" tabindex="-1" aria-labelledby="delete_@meal.Id" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Meal</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <h5>
                                                Are you sure you want to delete meal
                                                <span class="text-danger">
                                                    @meal.Name
                                                </span>?
                                            </h5>

                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete">
                                                <input type="hidden" name="id" value="@meal.Id" />
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger ms-1">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        }

    </div>

</div>